* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Prata", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

/* Estilos dos cards da Home */
.author,
.category{
  font-style: italic;
  margin: .5em 0;
  font-size: 12px !important;
}

.category {
  color: #aaa;
}